<ion-header>
  <ion-navbar>
    <ion-title>
      Contactos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button round (click)='showCheckbox();'>¡Prueba!</button>
</ion-content>

