<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido a tabsApp, aCarlos Vega Fernández</h2>
  <p>
    Este proyecto es una plantilla básica que contiene distintas páginas distribuidas en tabs
  </p>
  <p>
    Echa un vistazo a <code>src/pages/</code> directorio para añadir o cambiar los tabas, al igual que crear nuevos.
  </p>
</ion-content>
